{
    "extends": ["@ackee/eslint-config"],
    "settings": {
        "import/resolver": {
            "node": {
                "paths": ["src"],
                "extensions": [".js", ".jsx"]
            }
        }
    }
}
